/* line 3, ../compass/sass/style.scss */
/* line 4, ../compass/sass/style.scss */
#map {
  height: 99vh;
  /*width: 75%;*/
  float: left;
}

/* line 9, ../compass/sass/style.scss */
.city {
  margin-top: 5px;
}

/* line 9, ../compass/sass/style.scss */
/* line 13, ../compass/sass/style.scss */
a.btn {
  float: right;
}

/* line 17, ../compass/sass/style.scss */
.floated {
  position: absolute;
  right: 10px;
  top: 90px;
}

/* line 22, ../compass/sass/style.scss */
.infoWindowContent {
  position: relative;
}

/* line 25, ../compass/sass/style.scss */
.bold {
  font-weight: bold;
}
